html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width:100vw;
}


header, footer {
    background-color: #1f2937;
    color: white;

}



body{
    display: flex;
    flex-direction: column;
}


main{
    max-width: 100vw;
    margin: 0;
    flex:1;

    display: grid;

    margin: 0;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 1fr);

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

header{
    display: grid;
    margin:0;
    grid-column:1/6 ;
    grid-row: 1/ 2;


#navbar{
    margin: 0;
    display: grid;
    grid-column:1/6 ;
    grid-row:1/2;

}

.logo{
    display: grid;

    grid-column:2/3 ;
    grid-row: 1/2;

}

.link-1{
    display: grid;

    grid-column:3/4 ;
    grid-row: 1/2;

}

.link-2{
    display: grid;

    grid-column:4/5 ;
    grid-row: 1/2;

}

.link-3{
    display: grid;

    grid-column:5/6 ;
    grid-row: 1/2;

}
}


.row_1{
    grid-row: 1/span 2;
    grid-column: 1/ 6;
    background-color: white;
}

.row_1_heading{
    display: grid;
    justify-content: center;

}

.info_boxes{
    display: flex;
    justify-content: center;
}

.info_box{
    margin: 2vh;
    border:solid #3882f6 3px;
    width: 7vw;
    height: 7vw;
    border-radius: 20px;



}










.row_2{
    display: grid;
    grid-row: 3/5;
    grid-column: 1/ 6;
    background-color: lightgray;
    place-items: center;

    font-size: x-large;
}


.row_3{
    
    display: grid;
    grid-row: 5/6;
    grid-column: 1/ 6;
    place-items: center;

}   

.row_3_content{
    background-color: #3882f6;
    border-radius: 20px;
    align-content: center;
    width: 50vw;
    text-align: center;
    color: white;

    margin: 0 auto;
}


.row_3_button{
    background: #3882f6;
    color: white;
    border-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}







footer{
    text-align: center;
    align-content: center;

}
