header, footer {
    background-color: #1f2937;
    color: white;

}



/* Body consists of a grid of 5 columns and 10 rows */

body{
    height: 100vh;
    width: 100vw;

    display: grid;

    margin: 0;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(10, 1fr);

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

header{
    display: grid;
    margin:0;
    grid-column:1/6 ;
    grid-row: 1/ 2;


#navbar{
    margin: 0;
    display: grid;
    grid-column:1/6 ;
    grid-row:1/2;

}

.logo{
    display: grid;
    margin: 1vh;

    grid-column:2/3 ;
    grid-row: 1/2;

}

.link-1{
    display: grid;
    margin: 1vh;

    grid-column:3/4 ;
    grid-row: 1/2;

}

.link-2{
    display: grid;
    margin: 1vh;

    grid-column:4/5 ;
    grid-row: 1/2;

}

.link-3{
    display: grid;
    margin: 1vh;

    grid-column:5/6 ;
    grid-row: 1/2;

}



}

footer{
    display: grid;
    margin: 0;
    grid-column: 1/6;
    grid-row: 10/11;
    text-align: center;
    align-content: center;
}
